{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}

{% if request.user.is_authenticated %}
    <h4>
       Welcome to the house of Fun {% if request.user.first_name %}
        {{ request.user.first_name }}
        {% else %}
        {{ request.user.username }}
       {% endif %}!
<main>
     {% for jobs in jobs %}
        <h2>{{ jobs.name }} by {{ jobs.user }}</h2>
    {% endfor %}
</main>
    </h4>
{% else %}
Welcome to Create.
{% endif %}
We have {{ jobs.count }} job{{ jobs.count|pluralize }} today.

{% endblock %}



